 <!-- Static navbar -->
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Quamotion" src="/assets/quamotion-white.png">
        </a>
      </div>
      <div id="navbar" class="navbar-items">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>

    <hr>

    <footer>
      <div class="col-md-6">
        <p>&copy; 2021 Quamotion bv.</p>
      </div>
    </footer>
  </div> <!-- /container -->
